
.about-section {
    padding: 130px 0 90px;
    background: var(--pure-white);
    p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--th-color);
}
.pictures-row {
    padding-right: 30px;
.item-about{
.imgone.big-paral {  
    position: relative;
    top: -40px;

.simpleParallax {
    background: #000000;
    min-height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    position: relative;
    z-index: 3;
    overflow: hidden;

}

&::before {
    position: absolute;
    z-index: 1;
    content: '';
    width: calc(50% + 10px);
    height: calc(50% + 10px);
    border: none;
    background-image: -webkit-linear-gradient(45deg, var(--primary-color) 15%, #898bff 65%);
    background-image: linear-gradient(45deg, var(--primary-color) 15%, #898bff 65%);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.4s;
    transition-property: opacity, transform;
    top: -5px;
    right: initial;
    bottom: initial;
    left: -5px;
    box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    border-radius: 12px;
}
}

.imgtwo.big-paral {
.simpleParallax {
    background: #000000;
    min-height: 471px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    position: relative;
    z-index: 3;
    overflow: hidden;
}


&::before {
    position: absolute;
    z-index: 1;
    content: '';
    width: calc(50% + 10px);
    height: calc(50% + 10px);
    border: none;
    background-image: -webkit-linear-gradient(45deg, #898bff 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, #898bff 15%, var(--primary-color) 65%);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.4s;
    transition-property: opacity, transform;
    top: initial;
    right: initial;
    bottom: 65px;
    right: 9px;
    box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    border-radius: 12px;
}
}

.exp-about {
    padding-left: 30px;
    margin-top: -20px;
    h5.nmb-font-about {
        font-size: 42px;
        line-height: 1;
        font-weight: 500;
        color: var(--black);
        margin-top: 0;
        margin-bottom: 10px;
    }
    
}


}
 


}

.col-md-5 {
.about-heading2-home{ 
    span {
    color: var(--primary-color);
}
}


}
}

.rtl .pictures-row {
    padding-right: 0px;
    padding-left: 30px;
}

@media (max-width:767px) {
   .simpleParallax {
        margin: 10px 0
    }
    .pictures-row {
        max-width: 300px;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }
}
