.step-wrapper {
    padding: 0;
    margin: 0;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    counter-reset: step;

}

.step-wrapper li {
    width: 170px;
}

.step-wrapper li>a:before {
    content: '';
    width: 36px;
    height: 36px;
    display: block;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border-radius: 100%;
    z-index: 1;
    position: absolute;
    text-align: center;
}

.step-wrapper li>a:after {
    content: counter(step);
    counter-increment: step;
    width: 36px;
    line-height: 36px;
    display: block;
    font-size: 16px;
    color: #bbb;
    font-weight: 700;
    background-color: transparent;
    border-radius: 100%;
    z-index: 1;
    position: absolute;
    text-align: center;
}

.step-wrapper li.completed>a:after {
    content: '\2713';
    color: currentColor;
    color: var(--primary-color)
}

.step-wrapper li:first-of-type a:before,
.step-wrapper li:first-of-type a:after {
    margin-left: -40px;
}

.step-wrapper li:last-of-type>a:before,
.step-wrapper li:last-of-type>a:after {
    margin-left: 42px;
}

.step-wrapper li.completed>a:before {
    background: #fff;
    color: #c4c4c4;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.step-wrapper li.active>a:before {
    background-color: var(--primary-color);

}

.step-wrapper li.active>a:after {
    color: #fff;
}

.step-wrapper li span {
    display: block;
    width: 100%;
    text-align: center;
    height: 60px;
    margin-bottom: 15px;
    /* padding: 8px; */
    color: var(--primary-color)
}

.step-wrapper li span a {
    font-size: 14px;
    font-weight: 700;
}

.step-wrapper li:not(.active):not(.completed) span a {
    color: #bbb;
    display: inline-block;
    width: 83%;
}

.step-wrapper li>a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 48px
}

.step-wrapper li:first-of-type>a {
    padding-left: 40px;
}

.step-wrapper li:last-of-type>a {
    padding-right: 40px;
}

.step-wrapper li>a svg {
    height: 48px;
    min-height: 48px;
    width: auto;
    position: absolute;
    display: inline-block;
    stroke-width: 0;
    transition: all 300ms ease-in-out;
}
.step-wrapper li>a svg {
    filter: url(#inset-shadow);
}

/* progress */
.step-bar-wrapper {
    text-align: center;
}


@media (max-width: 600px) {

    .services-details {
        text-align: center;
        .col-md-6{  
        margin-top: 5px ;
        margin-bottom: 5px ;
        }
    }

    .featured-image{
        margin-top: 10px ;
        margin-bottom: 10px ;
    }
    .step-wrapper{
        flex-direction: column;
         li span {
             height: 2px; 
            margin-bottom: 5px;
        }
    }
    
}
