:root {
    --black: #16151a;
    --black0: #222;
    --pure-white: #ffffff;
    --primary-color: #25A0D7;
    --th-color: #888;
    /* --secondary-color: #808284; */
    --secondary-color: #B9B9BC;
    --border-color: #dee2e6;
    /* --border-color:var(--th-color) */
    --oof-white: #F1EFEF;
    --ovelay: rgba(0, 0, 0, 0.7);
    
    --primary-color-btn: #02567b;
    --box-shadow:  0 0 10px #e4e0e0;
}