.breadcrumbs-wrapper {
    margin-top: 40px;
    .breadcrumb {
        width: 100%;
        position: relative;

        li {
            margin-right: 15px;

            a {
                 color: $black; 
                font-size: 0.9375em;
                position: relative;
                display: flex;
                align-items: center;
                position: relative;
                gap: 5px;
                text-decoration: none;
                /* color: $pure-white; */
                cursor: pointer;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 0;
                    height: 2px;
                     background: $brand-primary; 
                    transition-duration: 300ms;
                }
                &::before {
                    content: "\e910";
                    position: absolute;
                    right: -10px;
                    top: 71%;
                   color: $th-gray;
                    transform: translateY(-50%);
                    font-size: 0.75em;
                    font-family: "fiicons";
                     font-family: $iconsFontFamily; 
                }

                &.deactivate {
           color: $green; 
                    cursor: default;
                    &:hover {
                        &::after {
                            display: none;
                        }
                    }
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }

            &:last-child {
                margin-right: 0px;

                a {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 767px) {

    .breadcrumbs-wrapper {
        .breadcrumb {
            li {
                a {font-size: 0.875rem;}
                    
            }
        }
    }
 
}




